.playing-field {
    width: 448px;
    height: 448px;
    alignment: center;
    background-color: #81de5f;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;



    border: 18px solid #51361a;
    border-image: url(tree.jpg) 18;

}