.playing-field {
    width: 448px;
    height: 448px;
    alignment: center;
    background-color: darkcyan;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: inline-flex;
    justify-content: center;
    flex-wrap:wrap;
}